In [122]:
import pandas as pd
from pandas import datetime

In [123]:
def parser(x):
    return datetime.strptime(x,'%d-%m-%Y')

In [124]:
name='jun-oct 18.csv'
df=pd.read_csv(name)

In [125]:
df.index

RangeIndex(start=0, stop=122, step=1)

In [128]:
df["Date"]=pd.to_datetime(df["Date"])

In [130]:
df['Date'] = df['Date'].apply(lambda x: x.strftime('%d-%m-%Y'))

In [131]:
df.index

RangeIndex(start=0, stop=122, step=1)

In [132]:
df["Date"]

0      20-06-2018
1      21-06-2018
2      22-06-2018
3      25-06-2018
4      27-06-2018
          ...
117    22-12-2018
118    24-12-2018
119    27-12-2018
120    29-12-2018
121    31-12-2018
Name: Date, Length: 122, dtype: object

In [133]:
df=df.set_index('Date')

In [134]:
df.head()

,Acidity,Urti,Indigestion,Hypertension,Dehydration,Low BP,Oral ulcer,Anaemia,old abbrassion,Fungal infection,...,Dysentary,Systeric HTN,acute torillitis,follicular torillitis,Burn,Lethargy,Blood Clot,Jaundice,Ankle Twist,Concentrated Urine
Date,,,,,,,,,,,,,,,,,,,,,
20-06-2018,2,1,1,1,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21-06-2018,0,0,0,0,0,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
22-06-2018,1,1,0,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
25-06-2018,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27-06-2018,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [135]:
df.to_csv(name)